page-home {
    .item .item-content
    {
        background-color: transparent !important;
    }
    .red {
        background-color: red;
    }
    .green {
        background-color: green;
    }

}
